# Compiled class file
*.class

*.json
*.index

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.metadata/**
/.recommenders/

# file to ignore if you want to use git to track your eclipse workspace metadata directory. 

.mylyn/.taskListIndex/
*.log
.plugins/org.eclipse.m2e.core/nexus/
*.swp
.mylyn/*
.plugins/org.eclipse.core.resources/.root/*.tree
.markers
.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.plugins/org.eclipse.ui.workbench/workingsets.xml
.plugins/org.eclipse.team.cvs.core
/.metadata/
/.recommenders/
*metadata
.metadata/version.ini
.metadata/.plugins/com.genuitec.eclipse.monitor/myeclipse-usage.properties
.metadata/.plugins/com.genuitec.eclipse.devstyle/recent.json
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.monitor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.theming.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
